<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{layout/layout :: head}"></head>
<body>
    <header th:replace="~{layout/layout :: header}"></header>
    <div class="container py-4">
               
        <div class="card bg-light">
            <div class="card-header fw-bold text-center" th:text="${titulo}"></div>
            <div class="card-body">
                
                <div class="text-center d-flex justify-content-center">
                    <p th:if="${error}" th:text="${error}"class="alert alert-danger text-center my-2"></p>
                </div>

                <form th:action="@{/factura/form/}" th:object="${factura}" method="post">

                    <div class="form-group row my-2">
                        <label class="col-sm-2 col-form-label" th:text="#{text.factura.form.cliente}"></label>
                        <div class="col-sm-6">
                            <input class="form-control" th:value="${factura.cliente.nombre} + ' '+ ${factura.cliente.apellido}" disabled="disabled">
                        </div>
                    </div>
                    
                    <div class="form-group row my-2">
                        <label class="col-sm-2 col-form-label" th:text="#{text.factura.form.descripcion}"></label>
                        <div class="col-sm-6">
                            <input type="text" th:field="*{descripcion}" class="form-control" th:errorclass="is-invalid">
                            <div class="invalid-feedback" th:if="${#fields.hasErrors('descripcion')}" th:errors="*{descripcion}"></div>
                        </div>
                    </div>
                    <div class="form-group row my-2">
                        <label class="col-sm-2 col-form-label" th:text="#{text.factura.form.observaciones}"></label>
                        <div class="col-sm-6">
                            <textarea th:field="*{observacion}" class="form-control"></textarea>
                        </div>
                    </div>
                    <div class="form-group row my-2">
                        <label for="buscar_producto" class="col-sm-2 col-form-label" th:text="#{text.factura.form.buscar}"></label>
                        <div class="col-sm-6">
                            <input type="text" name="buscar_producto" id="buscar_producto"  class="form-control">
                        </div>
                    </div>

                    <table th:replace="~{factura/plantilla-items :: itemsFactura}"></table>

                    <table id="cargarItemProductos" class="table table-sm table-striped table-hover">
                        <thead>
                            <tr>
                                <th th:text="#{text.factura.form.nombre}"></th>
                                <th th:text="#{text.factura.form.precio}"></th>
                                <th th:text="#{text.factura.form.cantidad}"></th>
                                <th th:text="#{text.factura.form.total}"></th>
                                <th th:text="#{boton.eliminar}"></th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                    <div class="text-center d-flex justify-content-center">
                        <h3 th:text="#{text.factura.form.total}+': '"></h3> <h3 id="granTotal" class="ms-1 me-1"> 0 </h3><h3> €</h3>
                    </div>
                    
                    <div class="form-group row my-2">
                        <div class="col-sm-12 py-4 text-center">
                            <input type="submit" th:value="${titulo}" class="btn btn-secondary">
                        </div>
                    </div>
                </form>
                <div class="col-sm-12 py-4 text-center">
                    <a class="btn btn-success" th:href="@{/listar}" th:text="#{boton.volver}"></a>
                  </div>
            </div>
        </div>
    </div>
    </div>
    <footer th:replace="~{layout/layout :: footer}"></footer>
    <script th:replace="~{factura/js/autocomplete-productos :: javascript}"></script>
</body>
</html>