<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:replace="~{layout/layout :: head}"></head>
  <body>
    <header th:replace="~{layout/layout :: header}"></header>

    <div class="container d-flex justify-content-center py-4">
      <div class="card bg-light col-sm-8">
        <div class="card-header text-center fw-bold" th:text="${titulo}"></div>
        <div class="card-body">
          <h4 class="card-title"></h4>

          <ul class="list-group my-2">
            <li
              th:text="#{text.ver.cliente}"
              class="list-group-item list-group-item-primary text-center"
            ></li>
            <li
              class="list-group-item"
              th:text="#{text.cliente.nombre}+': ' + ${factura.cliente}"
            ></li>
            <li
              class="list-group-item"
              th:text="#{text.cliente.email}+': ' + ${factura.cliente.email}"
            ></li>
          </ul>

          <ul class="list-group">
            <li
              th:text="#{text.ver.factura}"
              class="list-group-item list-group-item-success text-center"
            ></li>
            <li
              class="list-group-item"
              th:text="#{text.factura.hoja} + ': ' + ${factura.id}"
            ></li>
            <li
              class="list-group-item"
              th:text="#{text.factura.descripcion} + ': ' + ${factura.descripcion}"
            ></li>
            <li
              class="list-group-item"
              th:text="#{text.factura.fecha} + ': ' + ${factura.createAt}"
            ></li>
          </ul>
          <div
            class="alert alert-info my-4"
            th:if="${#lists.isEmpty(factura.items)}"
            th:text="#{factura.info.linea} + ': ' + ${factura.descripcion}"
          ></div>
          <table
            th:if="${not #lists.isEmpty(factura.items)}"
            class="table table-striped table-hover table-bordered my-3 text-center"
          >
            <thead>
              <tr>
                <th th:text="#{text.factura.form.nombre}"></th>
                <th th:text="#{text.factura.form.precio}"></th>
                <th th:text="#{text.factura.form.cantidad}"></th>
                <th th:text="#{text.factura.form.total}"></th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="linea: ${factura.items}">
                <td th:text="${linea.producto.nombre}"></td>
                <td th:text="${linea.producto.precio} + ' €'"></td>
                <td th:text="${linea.cantidad}"></td>
                <td th:text="${linea.calcularImporte() + ' €'}"></td>
              </tr>
            </tbody>
          </table>
          <div class="d-flex justify-content-around">
            <div class="d-flex">
              <h6 th:text="#{factura.numArticulos} + ': '"></h6>
              <h6
                th:text="${factura.totalCantidad}"
                class="text-secondary fw-bold ms-1"
              ></h6>
            </div>

            <div class="d-flex">
              <h6 th:text="#{factura.suma} + ': '"></h6>
              <h6
                th:text="${factura.total} + ' €'"
                class="text-secondary fw-bold ms-1"
              ></h6>
            </div>
          </div>
          <div
            th:if="${!#strings.isEmpty(factura.observacion)}"
            class="card border-success my-4 text-center mx-auto"
            style="max-width: 30rem"
          >
            <div
              class="card-header fw-bold"
              th:text="#{text.factura.form.observaciones}"
            ></div>
            <div class="card-body">
              <p th:text="${factura.observacion}"></p>
            </div>
          </div>
          <div class="text-center fw-bold my-4">
            <p
              th:if="${#strings.isEmpty(factura.observacion)}"
              th:text="#{factura.noObservaciones}"
            ></p>
          </div>
        </div>
      </div>
    </div>
    <div class="text-center my-2">
      <a
        th:href="@{'/ver/' + ${factura.cliente.id}}"
        class="btn btn-success btn-xs col-sm-1"
        th:text="#{boton.volver}"
      ></a>
    </div>
    <footer th:replace="~{layout/layout :: footer}"></footer>
  </body>
</html>
