<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
  <head th:replace="~{layout/layout :: head}"></head>

  <body>
    <header th:replace="~{layout/layout :: header}"></header>

    <div class="container d-grid justify-content-center py-4">
      <h1
        th:text="${titulo}"
        class="text-secondary text-center"></h1>

      <div th:object="${cliente}" th:remove="tag">
        <h5
          th:if="${#fields.hasErrors('*')}"
          class="alert alert-danger text-center"
          th:text="${error}"
        ></h5>
      </div>
      <form th:action="@{/form}" th:object="${cliente}" method="post" enctype="multipart/form-data" class="shadow shadow-lg">
        <div class="form-group row justify-content-center">
          <label class="col-sm-4 col-form-label text-center" th:text="#{text.cliente.nombre}"></label>
          <div class="col-sm-6 mb-2">
            <input
              type="text"
              th:field="*{nombre}"
              class="form-control"
              th:errorclass="'form-control alert-danger'"
            />
            <small
              class="form-text text-danger"
              th:if="${#fields.hasErrors('nombre')}"
              th:errors="*{nombre}"
            ></small>
          </div>
        </div>
        <div class="form-group row justify-content-center">
          <label class="col-sm-4 col-form-label text-center" th:text="#{text.cliente.apellido}"></label>
          <div class="col-sm-6 mb-2">
            <input
              type="text"
              th:field="*{apellido}"
              class="form-control"
              th:errorclass="'form-control alert-danger'"
            />
            <small
              class="form-text text-danger"
              th:if="${#fields.hasErrors('apellido')}"
              th:errors="*{apellido}"
            ></small>
          </div>
        </div>
        <div class="form-group row justify-content-center">
          <label class="col-sm-4 col-form-label text-center" th:text="#{text.cliente.email}"></label>
          <div class="col-sm-6 mb-2">
            <input
              type="text"
              th:field="*{email}"
              class="form-control"
              th:errorclass="'form-control alert-danger'"
            />
            <small
              class="form-text text-danger"
              th:if="${#fields.hasErrors('email')}"
              th:errors="*{email}"
            ></small>
          </div>
        </div>
        <div class="form-group row justify-content-center">
          <label class="col-sm-4 col-form-label text-center" th:text="#{text.cliente.createAt}"></label>
          <div class="col-sm-6 mb-2">
            <input
              type="date"
              class="form-control"
              th:field="*{createAt}"
              th:errorclass="'form-control alert-danger'"
            />
            <small
              class="form-text text-danger"
              th:if="${#fields.hasErrors('createAt')}"
              th:errors="*{createAt}"
            ></small>
          </div>
        </div>
        <div class="form-group row justify-content-center">
          <label class="col-sm-4 col-form-label text-center" th:text="#{form.foto}"></label>
          <div class="col-sm-6 mb-2">
            <input
              type="file"
              name="file"
              class="form-control"
            />
          </div>
        </div>
        <div class="form-group row text-center">
          <div class="col-sm-6 py-4">
            <input type="submit" th:value="#{boton.crearCliente}" class="btn btn-primary"/>
          </div>
          <div class="col-sm-6 py-4">
            <a class="btn btn-success" th:href="@{/listar}" th:text="#{boton.volver}"></a>
          </div>
        </div>
      </form>
    </div>
    <footer th:replace="~{layout/layout :: footer}"></footer>
  </body>
</html>
