<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
  <head th:replace="~{layout/layout :: head}"></head>
  <body>
    <header th:replace="~{layout/layout :: header}"></header>
    <div class="container py-4 d-flex justify-content-center">
      <div class="card bg-light col-sm-8 shadow shadow-lg">
        <div class="card-header fw-bold text-center" th:text="${titulo}"></div>
        <div class="card-body">
          <div class="row justify-content-center align-items-center">
            <div class="col-sm-4">
              <img
                th:if="${#strings.length(cliente.foto) > 0}"
                class="img-thumbnail rounded float-left"
                th:src="'/uploads/' + ${cliente.foto}"
                th:alt="'Foto de ' + ${cliente.nombre}"
              />
            </div>
            <div class="col-sm-4">
              <ul class="list-group">
                <li
                  class="list-group-item"
                  th:text="#{text.cliente.nombre}+': '+${cliente.nombre}"
                ></li>
                <li
                  class="list-group-item"
                  th:text="#{text.cliente.apellido}+': '+${cliente.apellido}"
                ></li>
                <li
                  class="list-group-item"
                  th:text="#{text.cliente.email}+': '+${cliente.email}"
                ></li>
                <li
                  class="list-group-item"
                  th:text="#{text.cliente.createAt}+': '+${cliente.createAt}"
                ></li>
              </ul>
            </div>
            <div class="col-sm-10 py-4 text-center">
              <div
                th:if="${#lists.isEmpty(cliente.facturas)}"
                class="alert alert-info my-4"
                th:text="${cliente.nombre} + ' ' + ${cliente.apellido} + ' no ha creado ninguna factura'"
              ></div>
              <table th:if="${not #lists.isEmpty(cliente.facturas)}"
                class="table table-bordered table-stripped table-hover shadow shadow-lg my-4"
              >
                <thead>
                  <tr>
                    <th th:text="#{text.factura.hoja}"></th>
                    <th th:text="#{text.factura.descripcion}"></th>
                    <th th:text="#{text.factura.fecha}"></th>
                    <th th:text="#{text.factura.total}"></th>
                    <th sec:authorize="hasRole('ROLE_ADMIN')" th:text="#{text.factura.detalles}"></th>
                    <th sec:authorize="hasRole('ROLE_ADMIN')" th:text="#{text.factura.eliminar}"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr th:each="factura : ${cliente.facturas}">
                    <td th:text="${factura.id}"></td>
                    <td th:text="${factura.descripcion}"></td>
                    <td th:text="${factura.createAt}"></td>
                    <td th:text="${factura.total} + ' €'"></td>
                    <td sec:authorize="hasRole('ROLE_ADMIN')"><a class="btn btn-primary btn-xs" th:href="@{'/factura/ver/' + ${factura.id}}" th:text="#{boton.ver}"></a></td>
                    <td sec:authorize="hasRole('ROLE_ADMIN')"><a class="btn btn-danger btn-xs" th:href="@{'/factura/eliminar/' + ${factura.id}}" onclick="return confirm('¿Eliminar la factura?');" th:text="#{boton.eliminar}"></a></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="col-sm-12 py-4 text-center">
            <a class="btn btn-success" th:href="@{/listar}" th:text="#{boton.volver}"></a>
          </div>
        </div>
      </div>
    </div>
    <footer th:replace="~{layout/layout :: footer}"></footer>
  </body>
</html>
